body {
  --el-color-white: var(--color-white);
  --el-color-black: var(--color-black);
  --el-color-primary: var(--main);
  --el-color-primary-light-1: var(--main-light);
  --el-color-primary-light-2: var(--main-light);
  --el-color-primary-light-3: var(--main-lighter);
  --el-color-primary-light-4: var(--main-lighter);
  --el-color-primary-light-5: var(--main-extra-light);
  --el-color-primary-light-6: var(--main-extra-light);
  --el-color-primary-light-7: var(--select);
  --el-color-primary-light-8: var(--select);
  --el-color-primary-light-9: var(--hover);
  --el-color-success: var(--color-success);
  --el-color-success-light: var(--color-success-light);
  --el-color-success-lighter: var(--color-success-light);
  --el-color-warning: var(--color-warning);
  --el-color-warning-light: var(--color-warning-light);
  --el-color-warning-lighter: var(--color-warning-light);
  --el-color-danger: var(--color-error);
  --el-color-danger-light: var(--color-error-light);
  --el-color-danger-lighter: var(--color-error-light);
  --el-color-info: var(--color-info);
  --el-color-info-light: var(--color-info-light);
  --el-color-info-lighter: var(--color-info-light);
  --el-color-error: var( --el-color-danger);
  --el-color-error-light: var(--el-color-danger-light);
  --el-color-error-lighter: var(--el-color-danger-light);
  --el-text-color-primary: var(--font-color);
  --el-text-color-regular: var(--font-color-regular);
  --el-text-color-secondary: var(--font-color-light);
  --el-text-color-placeholder: var(--font-color-lighter);;
  --el-border-color-base: var(--font-color-light);
  --el-border-color-light: var(--font-color-lighter);
  --el-border-color-lighter: var(--font-color-lighter);
  --el-border-color-extra-light: var(--font-color-extra-light);
  --el-background-color-base: var(--background);
  --el-border-width-base: 1px;
  --el-border-style-base: solid;
  --el-border-color-hover: var(--el-text-color-placeholder);
  --el-border-base: var(--el-border-width-base) var(--el-border-style-base) var(--el-border-color-base);
  --el-border-radius-base: 4px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;
  --el-box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  --el-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  --el-svg-monochrome-grey: #dcdde0;
  --el-fill-base: var(--el-color-white);
  --el-font-size-extra-large: 20px;
  --el-font-size-large: 18px;
  --el-font-size-medium: 16px;
  --el-font-size-base: 14px;
  --el-font-size-small: 13px;
  --el-font-size-extra-small: 12px;
  --el-font-weight-primary: 500;
  --el-font-line-height-primary: 24px;
  --el-font-color-disabled-base: #bbb;
  --el-index-normal: 1;
  --el-index-top: 1000;
  --el-index-popper: 2000;
  --el-disabled-fill-base: var(--el-background-color-base);
  --el-disabled-color-base: var(--el-text-color-placeholder);
  --el-disabled-border-base: var(--el-border-color-light);
  --el-transition-duration: 0.3s;
  --el-transition-duration-fast: 0.2s;
  --el-transition-function-ease-in-out-bezier: ease; //cubic-bezier(0.645, 0.045, 0.355, 1);
  --el-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --el-transition-all: all var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-fade: opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-md-fade: transform var(--el-transition-duration) var(--el-transition-function-fast-bezier), opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
  --el-transition-border: border-color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-color: color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier)
}
