@font-face {
  font-family: "iconfont"; /* Project id 2753587 */
  src: url('/@/assets/iconfont.woff2') format('woff2'),
  url('/@/assets/iconfont.woff') format('woff');
}

.iconfont {
  font-family: "iconfont", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-line:before {
  content: "\e7d1";
}

.icon-blog-solid:before {
  content: "\e631";
}

.icon-mail-line:before {
  content: "\e6da";
}

.icon-smartphone-line:before {
  content: "\e754";
}

.icon-checkbox-blank-circle-line:before {
  content: "\e848";
}

.icon-calendar-event-fill:before {
  content: "\e6ca";
}

.icon-calendar-event-line:before {
  content: "\e6cb";
}

.icon-layout-left-2-fill:before {
  content: "\e715";
}

.icon-layout-left-2-line:before {
  content: "\e716";
}

.icon-home-fill:before {
  content: "\e6b7";
}

.icon-home-line:before {
  content: "\e6b8";
}

.icon-arrow-drop-right-line:before {
  content: "\e83e";
}

.icon-arrow-left-s-line:before {
  content: "\e842";
}

.icon-arrow-right-s-line:before {
  content: "\e844";
}

.icon-settings-fill:before {
  content: "\e871";
}

.icon-settings-line:before {
  content: "\e872";
}

.icon-coins-fill:before {
  content: "\e7ab";
}

.icon-copper-coin-fill:before {
  content: "\e7ac";
}

.icon-copper-coin-line:before {
  content: "\e7ad";
}

.icon-coins-line:before {
  content: "\e7ae";
}

.icon-exchange-cny-fill:before {
  content: "\e7af";
}

.icon-exchange-cny-line:before {
  content: "\e7b0";
}

.icon-money-cny-circle-line:before {
  content: "\e7b3";
}

.icon-money-cny-circle-fill:before {
  content: "\e7b4";
}

.icon-stock-fill:before {
  content: "\e7b7";
}

.icon-stock-line:before {
  content: "\e7b9";
}

