$text-color: lighten(#800, 20%);

:root {
  // color
  --main: #FF9A76;
  --main-light: #FF9A76C0;
  --main-lighter: #FF9A76A0;
  --main-extra-light: #FF9A7680;
  --select: #FF9A7660;
  --hover: #FF9A7620;
  --color-info: #909399;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-error: #f56c6c;

  // theme
  --background: white;
  --background-gray: #f8f8f8;
  --background-button: #ffffff60;
  --font-color: #303133;
  --font-color-regular: #606266;
  --font-color-light: #808080;
  --font-color-lighter: #b0b0b0;
  --font-color-extra-light: #d0d0d0;
  --color-white: white;
  --color-black: black;
  --color-info-light: #{lighten(#909399, 50%)};
  --color-success-light: #{lighten(#67c23a, 50%)};
  --color-warning-light: #{lighten(#e6a23c, 50%)};
  --color-error-light: #{lighten(#f56c6c, 50%)};
}


[data-theme="dark"] {
  --background: #292A2D;
  --background-gray: #383838;
  --background-button: #00000060;
  --font-color: #eeeeee;
  --font-color-regular: #a09e9a;
  --font-color-light: #808080;
  --font-color-lighter: #606060;
  --font-color-extra-light: #404040;
  --color-white: black;
  --color-black: white;
  --color-info-light: #{darken(#909399, 50%)};
  --color-success-light: #{darken(#67c23a, 50%)};
  --color-warning-light: #{darken(#e6a23c, 50%)};
  --color-error-light: #{darken(#f56c6c, 50%)};
}
